div{
    background-color: #b4b4b4;
    width: 400px;
}
h1{
    color: black;
    margin: 15px 0px;
    padding: 0px 15px;
    background-color: hotpink;

}
p{
    margin: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 100px;
    margin: 15px 15px;
}